[2013-12-28 10:18] ljmanso opened #1 "make install doesn't work"
The project compiles correctly, but fails to install.

[2014-01-02 20:50] #1 closed, assigned to nobody

[2014-05-15 15:16] ljmanso opened #2 "Automatically create /opt/robocomp link"
It would be nice that the CMake script automatically created the /opt/robocomp link to /opt/robocomp-1.0 in case /opt/robocomp doesn't exist.

[2014-05-20 15:58] marcoag opened #3 "out of source build not working due to innermodel.h generation"
When compiling out of source innermodel fails due to cmake innermodel.h generation. Need a fix for this.

marcog@silicon:~/robocomp/build$ make -j3
[ 35%] Built target robocomp_qmat
[ 89%] Built target robocomp_osgviewer
[ 92%] [ 96%] Building CXX object libs/innermodel/CMakeFiles/robocomp_innermodel.dir/innermodel.cpp.o
[100%] Building CXX object libs/innermodel/CMakeFiles/robocomp_innermodel.dir

[2014-05-27 08:12] #3 closed, assigned to marcoag

[2015-03-06 04:09] Lonelygeek opened #4 "Intending to participate in GSoC 2015"
Dear luis J Manso
I have already mailed to you this message ,since it has no response I am posting it as issue
I am Chandykunju Alex Final year Undergraduate in Applied Electronics and Instrumentation from College of Engineering Trivandrum
Glad to hear that your organization is selected for GSoC-2015.

I would like to contribute Robocomp tutorial Social management and Documentation.I have good pro

[2015-03-07 08:28] Lonelygeek opened #5 "Document"
In the  documentation it is given that
You might also want these nice developer tools:

sudo apt-get kdevelop vim aptitude nano

but

sudo apt-get install kdevelop vim aptitude nano

would be more suitable

[2015-03-07 10:07] pbustos commented on #5
Thanks!

On Sat, Mar 7, 2015 at 9:28 AM, Chandykunju Alex <notifications@github.com>
wrote:

--
Pablo Bustos García de Castro
Laboratorio de Robótica y Visión Artificial
http://robolab.unex.es
Escuela Politécnica
Universidad de Extremadura
Avda de la Universidad s/n
Cáceres 10003
Phone: +34 927 257259
Fax: +34 927 257203

[2015-03-07 11:18] Lonelygeek commented on #5
While i am trying cmak . it shows following error

seems like it is due to  the bug in cmake should i fix it /If not anything wrong with my steps ?

chandy@chandy:~$ cd robocomp
chandy@chandy:~/robocomp$ sudo cmake .
[sudo] password for chandy:
-- Not found OpenMP
-- PYTHON BINDINGS:        NO
-- Could NOT find Doxygen (missing:  DOXYGEN_EXECUTABLE)
-- COMPILING WITHOUT FCL SUPPORT  = 0
CMake Erro

[2015-03-07 11:49] pbustos commented on #5
Hello,

you need the ROBOCOMP variable defined for your terminal (bash)

Pablo

On Sat, Mar 7, 2015 at 12:18 PM, Chandykunju Alex <notifications@github.com>
wrote:

--
Pablo Bustos García de Castro
Laboratorio de Robótica y Visión Artificial
http://robolab.unex.es
Escuela Politécnica
Universidad de Extremadura
Avda de la Universidad s/n
Cáceres 10003
Phone: +34 927 257259
Fax: +34 927 257203

[2015-03-07 12:55] Lonelygeek commented on #5
Yes i have done that

export ROBOCOMP=/home/chandy/robocomp
export PATH=$PATH:/opt/robocomp/bin

but shows same error

[2015-03-07 16:02] pbustos commented on #5
Why

    sudo cmake .

On Sat, Mar 7, 2015 at 1:55 PM, Chandykunju Alex <notifications@github.com>
wrote:

--
Pablo Bustos García de Castro
Laboratorio de Robótica y Visión Artificial
http://robolab.unex.es
Escuela Politécnica
Universidad de Extremadura
Avda de la Universidad s/n
Cáceres 10003
Phone: +34 927 257259
Fax: +34 927 257203

[2015-03-07 16:05] Lonelygeek commented on #5
When try cmake . it shows permission issues and shows following error

chandy@chandy:~/robocomp$ cmake .
-- Not found OpenMP
-- PYTHON BINDINGS:        NO
-- Could NOT find Doxygen (missing:  DOXYGEN_EXECUTABLE)
CMake Error at /usr/share/cmake-2.8/Modules/Qt4Macros.cmake:131 (file):
  file Internal CMake error when trying to open file:
  /home/chandy/robocomp/libs/osgviewer/include/osgviewer/moc_a

[2015-03-07 17:31] pbustos commented on #5
All files below Robocomp shoul belong to you. Looks  like you used sudo at
some point and created root owned ones. Clean and clone again.

El 07/03/2015 17:05, "Chandykunju Alex" <notifications@github.com> escribió:

/home/chandy/robocomp/libs/osgviewer/include/osgviewer/moc_adapterwidget.cxx_parameters

/home/chandy/robocomp/libs/osgviewer/include/osgviewer/moc_findnamednode.cxx_parameters

/home

[2015-03-08 00:24] MMp131316 opened #6 "Robo Comp Computer Vision GSoc"
Dear luis J Manso,
I would love to improve the computer vision capabilities of your framework.
I have solved a lot of computer vision tasks like classification, block matching for stereo, rectification, optical flow, filters etc.
For GSoc 2015 I was thinking of implementing a new obstacle detection algorithm based on elevation map. For this algorithm I will also make the BM. The algorithm will be

[2015-03-09 09:19] ljmanso commented on #6
Dear Paul,

Could you please get in contact with Marco <spyke.me@gmail> for GSoC-related issues?

Thank you for your interest in RoboComp!

Best regards,

Luis

[2015-03-09 13:03] hustcalm opened #7 "CMake failed: Library qmat not found in /opt/robocomp/lib"
Follow the instructions [here - Installation in Ubuntu](https://github.com/robocomp/robocomp), my computer is running Ubuntu 14.04.

    export ROBOCOMP=<installation-directory>/robocomp
    export PATH=$PATH:/opt/robocomp/bin

I clone the source code to `/home/lihang/robocomp`, so I just do:

    export ROBOCOMP=home/lihang/robocomp

Then when running `cmake .`, the output is as following lines:

[2015-03-09 13:10] hustcalm commented on #7
I just found that there is a `libs` directory, which has:
[code]

So I try to build the libs using CMake, when running `cmake .`, I got the output:
[code]

I chcked my CMake version, it is:
[code]

So what is the problem here?

Thanks,
Lihang

[2015-03-09 13:52] marcoag commented on #7
Hi Lihan,

Thatas a current issue, you need to install first qmat that is under
robocomp/libs/qmat as an individual project, with cmake . make and sudo
make install and then try to install the rest.

Cheers,

Marco.

On Mon, Mar 9, 2015 at 9:03 PM, Lihang Li <notifications@github.com> wrote:

--
Marco Antonio Gutiérrez Giraldo
Laboratorio de Robótica y Visión Artificial
http://robolab.unex.es
Escu

[2015-03-10 00:50] hustcalm commented on #7
@marcoag

Hi Marco,

Thanks for your reply. However, when running `cmake .` under `robocomp/libs/qmat`, I got those output:
[code]

Really need to find a way to fix these issues, looking forward to your reply.

Regards,
Lihang

[2015-03-10 07:24] abhinavjain241 commented on #7
Hi,

Even I am facing the same problem. Any leads on these issues?

Regards,
Abhinav

[2015-03-10 10:16] ljmanso commented on #7
I broke CMakeLists.txt a couple of days ago in an attempt to automate the instalation of the simulator. My bad.

Pull the last version of the repository. It should work now.

To install the core libraries:
cd robocomp
cmake .
make
sudo make install

Afterwards, to compile and install the simulator:
cd toolsrcinnerModelSimulator
cmake .
make
sudo make install

[2015-03-10 11:56] hustcalm opened #8 "Install Error: xdg-icon-resource: file 'robocomp-icon.png' does not exist"
Hi there,

when trying to execute
[code]

I got the errors below:
[code]

Any idea about this issue?

Regards,
Lihang

[2015-03-10 12:09] ljmanso commented on #8
Hi Lihang,

It's not actually necessary to install freedesktop files. Skip that step. I just updated the documentation.

[2015-03-10 12:10] #8 closed

[2015-03-10 12:10] #2 closed

[2015-03-10 12:10] #4 closed

[2015-03-10 12:11] #6 closed

[2015-03-10 12:15] hustcalm commented on #8
OK.

Thanks for the update @ljmanso

[2015-03-10 12:35] hustcalm commented on #7
Great, it works!!!  Thanks @ljmanso

[2015-03-10 12:35] #7 closed

[2015-03-13 02:57] Lonelygeek commented on #5
Now it's working fine

[2015-03-13 07:07] nithinmurali opened #11 "git annex error"
running: git annex get . is giving the following error

get files/innermodel/tar36h11-0-50.png Invalid command: 'git-annex-shell 'configlist' '/~/robocomp/robocomp.git''
  You appear to be using ssh to clone a git:// URL.
  Make sure your core.gitProxy config option and the
  GIT_PROXY_COMMAND environment variable are NOT set.

  Remote origin does not have git-annex installed; setting annex-ignor

[2015-03-13 18:46] abhinavjain241 opened #13 "Component Run Error"
Hey!

While following the tutorial for **"[Creating a new Component with Eclipse based Robocomp's DSL Editor](https://github.com/robocomp/robocomp/blob/master/doc/component_creation_with_DSLEditor.md)"**, I encountered the following errors after trying to run the changed component:

[code]
repeatedly, and so on. I followed all the steps, ran cmake and then used KDevelop to compile and link, still

[2015-03-13 19:52] pbustos commented on #13
You need to have de RCIS simulator up and running,

cheers

On Fri, Mar 13, 2015 at 7:46 PM, Abhinav Jain <notifications@github.com>
wrote:

--
Pablo Bustos García de Castro
Laboratorio de Robótica y Visión Artificial
http://robolab.unex.es
Escuela Politécnica
Universidad de Extremadura
Avda de la Universidad s/n
Cáceres 10003
Phone: +34 927 257259
Fax: +34 927 257203

[2015-03-14 00:36] abhinavjain241 commented on #13
Ohh, Thank you!
On Sat, Mar 14, 2015 at 1:22 AM pbustos <notifications@github.com> wrote:

[2015-03-15 05:01] Lonelygeek commented on #11
same error

[2015-03-15 11:00] ljmanso commented on #11
Are you behind a proxy?

[2015-03-15 16:14] nithinmurali commented on #11
no, well we can use a proxy if we want , but i am trying this with proxy disabled.
and during cmake its giving a warning " IPPROOT environment variable not set ."

[2015-03-15 17:30] nithinmurali commented on #11
when i removed everything and did whole process again,  most of the components are getting downloaded except some
"""
get files/innermodel/tar36h11-0-50.png (not available)
  No other repository is known to contain the file.

  (Note that these git remotes have annex-ignore set: origin)
failed
get files/innermodel/tar36h11-3-50.png (not available)
  No other repository is known to contain the file

[2015-03-20 04:03] marcoag commented on #11
" IPPROOT environment variable not set ."

For this you need intel ipp (integrated performance primitves) installed and an environment variable IPPROOT pointing to the installation dir.

Regarding git annex:
Some files on git annex might be broken, we should fix this, please list them and submit a bug report se we can work on that.

[2015-03-21 02:40] #5 closed

[2015-03-21 03:10] DoraXingyu opened #16 "git annex connection failed"
I am having trouble downloading the meshes and textures for the simulator from web using git annex.
Here's a snapshot.
I have tried  to turn my proxy off, nothing changes and my internet connection is ok.
I hope somebody can tell me how to fix this.
![screen shot 2015-03-21 at 10 48 38 am](https://cloud.githubusercontent.com/assets/11518107/6763501/9e9f383c-cfba-11e4-8412-17ccf5c17221.png)

[2015-03-21 04:58] hustcalm commented on #16
@ljmanso @marcoag Any ideas about how to solve this problem?

Xingyu,

Hi, sorry to tell that I'm also stuck by this problem several days ago and have not got time to dig in and get it fixed.

As it complains about "Unable to establish SSL connection", so I'm thinking about see the `git annex config` to disable SSL certification or something.

See https://git-annex.branchable.com/ to try if some l

[2015-03-21 08:35] DoraXingyu commented on #16
Lihang:
Hi, I have been trying to fix this for hours. Nothing works. Any news from your side?
I can't visit dropbox.com since the Great Fire Wall. Maybe that's the problem?
But the problem exists after I use a VPN from foreign region, although I can visit dropbox.com with Safari now.

[2015-03-21 13:44] hustcalm commented on #16
@DoraXingyu
Bad news, I have not got the Linux box by my side for the weekend, so I will try to solve the problem by Monday maybe.

I think setting a git proxy worth trying?

Though these files are assets for running the Simulator, right? If so, maybe you can read the source code for the day or two, waiting some good news from @ljmanso @marcoag .

[2015-03-22 05:22] DoraXingyu commented on #16
@hustcalm Good news! Problem solved just now.
Something is wrong with the connection. Probably from GFW or Cernet. So I try a different VPN proxy, and it worked.
And maybe that's why you have the same problem as me since you are in Beijing too.

[2015-03-22 13:35] hustcalm commented on #16
@DoraXingyu
Great job!!!
I will try tomorrow and let you know my situation then.

[2015-03-22 17:34] Lonelygeek opened #18 "cmake error"
chandy@chandy:~/robocomp$ make
Scanning dependencies of target exec_rcmanager
[  0%] Generating rcmanager
[  0%] Built target exec_rcmanager
Scanning dependencies of target ui_editorForm
[  1%] Generating ui_editorForm.py from editorForm.ui
/bin/sh: 1: pyuic4: not found
make[2]: *** [tools/rcmanager/ui_editorForm.py] Error 127
make[1]: *** [tools/rcmanager/CMakeFiles/ui_editorForm.dir/all] Error 2

[2015-03-22 17:42] rajathkumarmp commented on #18
sudo apt-get install pyqt4-dev-tools qt4-designer

The readme.md file is updated with this.

[2015-03-22 18:00] Lonelygeek commented on #18
ok is it just updated

[2015-03-22 18:01] rajathkumarmp commented on #18
Today it is updated. Anyways just install those two packages and you are good to go.

[2015-03-22 18:05] Lonelygeek commented on #18
thank u its working

[2015-03-22 18:05] #18 closed

[2015-03-22 20:27] #13 closed

[2015-03-23 00:58] #16 closed

[2015-03-30 18:31] rajathkumarmp opened #24 "osg model not found"
while executing human.xml the following error comes

---------------------------------------
--- FCL_SUPPORT: 0
---------------------------------------
Warning: STORM not found. RCISMousePicker topic will NOT be published
InnerModelReader: reading human.xml
Could not find /home/robocomp/robocomp/Files/osgModels/human/TIOcintura.osg osg.
Segmentation fault (core dumped)

But the TIOcintura.osg file

[2015-03-31 05:43] abhi-kumar commented on #24
Is the file's path correct, you may just want to change the path of every osg file being calledfrom "/home/robocomp/robocomp/Files/..." to "/home/robocomp/robocomp/files/..."

[2015-04-02 04:27] abhi-kumar opened #26 "Error while running arm.xml"
I get the following error while running arm.xml:

abhi@abhi-Inspiron-7520:~/robocomp/files/innermodel$ rcis arm.xml
---------------------------------------
--- FCL_SUPPORT: 0
---------------------------------------
Warning: STORM not found. RCISMousePicker topic will NOT be published
InnerModelReader: reading arm.xml
InnerModelRGBD: 0.000000 {30000}
InnerModelRGBD: 0.000000 {30000}
Could not find

[2015-04-02 08:20] rajathkumarmp commented on #13
I am getting the same error. @pbustos could you please elaborate on how to have the RCIS simulator up and running?

[2015-04-03 05:50] abhi-kumar opened #29 "reading escenita.xml Could not find /home/daniel/data/palma.osg osg."
The path to /home/daniel/data/palma.osg should be /home/robocomp/robocomp/files/osgmodels/data/palma.osg .

[2015-04-03 07:29] abhinavjain241 commented on #26
Same error, also initially the file 'arm.xml' contained instances of '/home/robocomp/robocomp/Files/osgModels/piso_osg/suelo.osg' in the path to the file 'suelo.osg'. When we tried to run it, it couldn't find 'Could not find /home/robocomp/robocomp/Files/osgModels/piso_osg/suelo.osg osg' (Since Linux is case-sensitive) but then when we replace all instances of 'Files' to 'files', it runs giving th

[2015-04-04 07:00] abhi-kumar opened #31 "Error while running muecas.xml"
I got this error while running muecas.xml, I changed the library calling path too as mentioned in #25 , but still the error persists:
abhi@abhi-Inspiron-7520:~/robocomp/files/innermodel$ rcis muecas.xml---------------------------------------
--- FCL_SUPPORT: 0
---------------------------------------
Warning: STORM not found. RCISMousePicker topic will NOT be published
InnerModelReader: reading mue

[2015-04-06 12:28] #26 closed

[2015-04-06 13:38] abhi-kumar commented on #31
@pbustos Could you please explain the use of STORM in all the models? I have very less knowledge regarding the use of STORM.

Thanks
Abhishek

[2015-04-06 15:27] pbustos commented on #31
Ok, I'll write I short tutorial, but ou can find a complete description of
ZeroC's Ice technology in www.zeroc.com. Being one of the best
communications middleware out there it is worth taking a good look.

Pablo

On Mon, Apr 6, 2015 at 3:38 PM, Abhishek Kumar Annamraju <
notifications@github.com> wrote:

--
Pablo Bustos García de Castro
Laboratorio de Robótica y Visión Artificial
http://robolab.u

[2015-04-06 15:33] abhi-kumar commented on #31
@pbustos thanks for your reply. I will study it carefully and write a tutorial for robocomp tutorial module and make a pull request. If you find that useful please add it, otherwise I will make the changes people recommend and re-pull it.

[2015-04-07 09:59] #24 closed

[2015-04-08 17:36] abhi-kumar commented on #31
@pbustos I tried working with ice for Ubuntu 14.04, but the dependencies have broken packages for Ubuntu trusty. Do you have any other suggestion for me regarding STORM.

Regards,
Abhishek

[2015-04-08 19:18] abhi-kumar opened #38 "Installation path restricted"
Hello,

When we build the robocomp source, it is preferred, according to the documentation, that we build it in home directory. But this is restricting the installation path criteria, as we cannot build it in some other directory. Building it in some other directory will cause problems while running modules from innermodels as they call libraries from a fixed path, i.e., for e.g., "/home/robocomp/

[2015-04-09 19:36] nithinmurali commented on #38
abhi, actually i have included this in my GSoC proposal :-)

[2015-04-09 22:47] abhi-kumar commented on #38
@nithinmurali thats great :) . I will try and help you in this.

[2015-05-10 20:47] nithinmurali opened #45 "broken link"
robocomp/files/osgModels/robexarm/barracolumna.ive is pointing to /home/mercedes/robocompViejo/robocomp/Files/osgModels/robexarm/barracolumna.ive

[2015-05-11 10:10] ljmanso commented on #45
Thanks for the heads up! We will try to fix this ASAP. In the meantime, you can use robexarm.osg instead of robexarm.ive

[2015-05-11 10:11] #29 closed

[2015-05-11 10:12] #31 closed

[2015-05-11 10:12] #11 closed

[2015-05-11 14:57] marcoag commented on #45
should be fixed now. Please check that it works

[2015-05-11 15:03] ljmanso commented on #45
Fixed! Thanks @nithinmurali and @marcoag  for the report and bug fix.

[2015-05-11 15:03] #45 closed

[2015-06-26 08:36] Daniel1108 opened #52 "change rcis initial pose"
when rcis sets robot's pose, has to correctedX,correctedZ and correctedAlpha.

[2015-07-25 01:47] #38 closed

[2015-07-25 01:47] #52 closed

[2015-08-20 10:39] rajathkumarmp opened #62 "Fixed errors with install.py script but outputs cmake error"
cmake error while executing the updated install.py script

 [ Link to script ](https://github.com/rajathkumarmp/robocomp/blob/patch-2/tools/install.py)

Output of the script :

[code]

[2015-08-20 16:00] ljmanso opened #63 "rcmanager stops working once it tries to ping a sleeping component"
rcmanager stops working once it tries to ping a sleeping component. It looks like it keeps waiting for ice-ping to return but, if any component is sleeping (e.g. it has been stopped using ctrl+z) the function does not return, hence making the tool stop working.

[2015-08-20 16:01] ljmanso opened #64 "rcremoteserver duplicates tabs"
rcmanager duplicates tabs even if they have the same name. This is not the desired behavior. It's better if tabs are reused over the different executions.

[2015-08-20 16:49] pbustos commented on #62
Hi Rajath,

you might want to check if the env variable ROBOCOMP is exported when you
run cmake.
Maybe insert a PRINTEV ROBOCOMP command before cmake .

On Thu, Aug 20, 2015 at 12:39 PM, Rajath Kumar M.P <notifications@github.com

--
Pablo Bustos García de Castro
Laboratorio de Robótica y Visión Artificial
http://robolab.unex.es
Escuela Politécnica
Universidad de Extremadura
Avda de la Universidad

[2015-08-20 19:07] rajathkumarmp commented on #62
@pbustos  You are absolutely right.

There is an error in this line

[code]

[2015-08-21 10:56] ljmanso opened #65 "Components generated using an UI freeze if the UI is not used"
Components generated with an user interface (e.g., using "gui Qt(QWidget);") freeze if the interfaze is deactivated (by commenting the "USE_QTGUI" line in config.h).

[2015-08-24 17:21] rajathkumarmp commented on #62
@pbustos
I tried the new script in my friend's laptop today and this is the error

![screenshot from 2015-08-24 21_19_34](https://cloud.githubusercontent.com/assets/6078431/9446981/6a24f4e8-4ab2-11e5-83e1-90307c25f4b8.png)

But the same script installs everything perfectly without any error in my laptop

![screenshot from 2015-08-24 21_52_34](https://cloud.githubusercontent.com/assets/6078431/9446

[2015-08-24 19:09] pbustos commented on #62
There must be a line where de folder /opt/robocomp is created.
Insert a print statement there to check that it really exists.

Pablo

On Mon, Aug 24, 2015 at 7:21 PM, Rajath Kumar M.P <notifications@github.com>
wrote:

--
Pablo Bustos García de Castro
Laboratorio de Robótica y Visión Artificial
http://robolab.unex.es
Escuela Politécnica
Universidad de Extremadura
Avda de la Universidad s/n
Cáceres

[2015-08-25 13:39] ljmanso opened #68 "Use automoc instead of manually declaring headers files containing Qt objects"
Use automoc instead of manually declaring headers files containing Qt objects. CMake can handle these automatically.

[2015-08-25 13:40] #64 closed

[2015-08-31 10:35] ljmanso commented on #65
fixed

[2015-08-31 10:35] #65 closed

[2015-10-01 14:20] rajathkmp opened #70 "Readthedocs not working"
@pbustos @marcoag   The build settings of readthedocs have changed to Sphinx and it is now building only .rst files and not .md files.

<img width="755" alt="screen shot 2015-10-01 at 7 53 04 pm" src="https://cloud.githubusercontent.com/assets/6078431/10223335/252bb520-6876-11e5-9e08-d472abb3f583.png">

"Built with Sphinx"

readthedocs documentation says,

<img width="757" alt="screen shot 2015-10

[2016-03-11 10:38] ljmanso commented on #68
Feature implemented by @rcintas

[2016-03-11 10:38] #68 closed

[2016-03-11 10:39] #62 closed

[2016-03-22 18:49] pbustos opened #73 "RoboComp is now under continuous integration control with TRAVIS-CI"
Since today, 22-March-2016, RoboComp core libraries will be compiled automatically by Travis-CI every time someones pushes a change  to github, so be careful with your commits!!

[2016-03-23 07:10] marcoag commented on #70
https://robocomp.readthedocs.org/en/latest/ is still not working

[2016-03-24 02:26] marcoag commented on #73
This is great!

I'll post it to the developers group:
https://groups.google.com/forum/?hl=es#!newtopic/robocomp-dev

[2016-03-24 02:26] #73 closed

[2016-04-03 16:57] BasilMVarghese opened #74 "Menu Bar width is not autosizing in rcmanager"
The width is fixed as we are using setFixedWidth function to set the menu width of menu bar.

![screenshot from 2016-04-03 22 20 57](https://cloud.githubusercontent.com/assets/16311206/14233585/9184fbb8-f9ea-11e5-886e-18eddb274493.png)

[2016-04-03 17:26] ljmanso commented on #74
Thank you for reporting the error. The last commit should fix the issue.

[2016-04-03 17:26] #74 closed

[2016-04-10 11:43] BasilMVarghese commented on #63
I had similar problem while running rcis launched through rcmanager(ie when we stopped rcis using ctrl+z from yakuake tab). Even we try to launch rcis again from rcmanager by clicking on up option, It was not launching.**One quick fix is down the component once.And again click on the up option**.It was because when we try to launch a sleeping component the addresses will already in use(Our sleepin

[2016-04-10 21:56] ljmanso commented on #63
Thank you for the feedback. Last week @rcintas started working on the issue. Instead of a single thread polling the whole component network, rcmanager will run a thread per component, so if a component is sleeping, the rest of the network will be correctly monitored.

[2016-04-11 11:24] ljmanso commented on #63
A bug fix was commited by @rcintas. It should now work properly. In case it doesn't, please, report back

[2016-04-11 11:24] #63 closed

[2016-08-12 20:16] pbustos opened #77 "Improve response in genericworker.(py/cpp)"
In this simple example  the program breaks without a useful message if the remote componente is not running. A previous check on the dictionary and a nice message before aborting could save many minutes.

def __init__(self, mprx):
		super(GenericWorker, self).__init__()

		self.trajectoryrobot2d_proxy = mprx["TrajectoryRobot2DProxy"]
		self.ui = Ui_guiDlg()
		self.ui.setupUi(self)
		self.show()

[2016-08-29 22:05] pbustos opened #85 "SpecificMonitor example code"
In robocompDSL, the example code in specificmonitor.cpp should be:

RoboCompCommonBehavior::Parameter aux;
aux.editable = true;
configGetString( "","InnerModel", aux.value,"nofile");
params["InnerModel"] = aux;

The current one does not compile!

[2016-08-29 22:16] Daniel1108 commented on #85
Done.

[2016-08-29 22:16] #85 closed

[2016-09-12 07:20] pbustos opened #87 "InnerModel Reader should show more/better info before aborting"
Showing useful messages  like duplicated tag, etc

[2016-09-12 07:21] pbustos opened #88 "tag collide="0" does not seem to be picked by InnerModelReader"
In initial tests in mesh, plane and omnirobot thetag is always set to true

[2016-10-27 14:54] Daniel1108 opened #89 "qmat/qline2d.cpp"
when compiling with qline2d.cpp:

/home/robocomp/robocomp/libs/qmat/qline2d.cpp: In member function ‘RMat::QVec QLine2D::intersectionPoint(const QLine2D&)’:
/home/robocomp/robocomp/libs/qmat/qline2d.cpp:114:18: **error: ‘other’ was not declared in this scope**
  Q_ASSERT_X(fabs(**other**.A()) > 0 or fabs(**other**.B())>0, "QLine2D::intersectionPoint", "|A| or |B| must be > 0");

How to solve? repl

[2016-10-28 07:26] pbustos commented on #89
Ok

[2016-10-28 07:26] #89 closed

[2016-11-07 19:36] pbustos opened #90 "Generated code does not inform when Storm is down in subscribing comps."
When a component subscribes to a topic, the code generated in main.cpp (line 178 aprox) shoul be replaced by this one. Current one does segfaults when STORM is not up.

	IceStorm::TopicManagerPrx topicManager;
	try
	{
		topicManager = IceStorm::TopicManagerPrx::checkedCast(communicator()->propertyToProxy("TopicManager.Proxy"));
	}
	catch(const Ice::Exception& ex)
	{
		cout << "[" << PROGRAM_NAME <

[2017-03-13 15:16] Kmayankkr commented on #87
Can you please give an example of duplicated tag in an innermodel ?

[2017-03-24 11:58] pbustos opened #101 "Structs in IDSL need to have more than one field"
Structs in IDSL need to have more than one field, otherwise the code generator fails.

[2017-03-29 11:40] ljmanso commented on #101
fixed

[2017-03-29 11:40] #101 closed

[2017-04-01 22:21] Kmayankkr opened #105 "Incorrect linking in the new rcmanager in the highlyUnstable branch"
The new rcmanager in the highlyUnstable branch creates all the links in the reverse order. Say if A is dependent on B, the rcmanager draws an arrow from B to A, instead of the opposite direction.

[2017-04-02 05:17] Glitchfix commented on #105
There is a provision to specify the host with '-h' option I suppose.

[2017-04-02 05:31] Glitchfix commented on #105
There is a provision to specify the host with '-h' option I suppose.

[2017-05-02 14:58] pbustos opened #108 "Robocompcdsl for Python throws error when importing DifferentialRobot"
In HighlyUnstable, when generating a Python component that requires the DifferentialRobot interface, we get the following error:

 Error reading IDSL /home/robocomp/robocomp/interfaces/IDSLs//DifferentialRobot.idsl

[2017-05-02 14:59] pbustos opened #109 "Python components do not start without STORM"
Python components do not start without STORM running.

Also they do not start if the components  implementing the required interfaces are not running

[2017-05-09 16:11] pbustos opened #110 "Compilation with Python bindings sticks to Python3.5"
This line solves the problem:
cmake -DPYTHON_LIBRARIES=/usr/lib/x86_64-linux-gnu/libpython2.7.so -DPYTHON_INCLUDE_DIR=/usr/include/python2.7

but it would be desirable to have this done in a more automatic way

[2017-05-23 10:17] ljmanso commented on #108
Fixed

[2017-05-23 10:17] #108 closed

[2017-06-03 21:43] #90 closed

[2017-06-05 08:19] ljmanso opened #112 "robocompdsl: Improve syntax error messages"
The AST of CDSL files are generated using PyParsing. Despite being extremely useful and easy to use, the regular error messages raised by PyParsing are not very informative. It would be really interesting to provide useful error messages for the users.

For example, the error provided for the following CDSL description, which has a missing semicolon:

Component d
{
	Communications
	{
	};
	language

[2017-06-05 08:36] ljmanso opened #113 "robocompdsl: Generate and improve semantic error messages"
Currently, robocompdsl does not provide any suggestions for semantic errors and they would be very useful for novice users. For example, if there is an interface named "RGBD" and a user tries to implement the same name in lowercase (i.e., "implements rgbd;"), the code generator fails providing no useful information at all:

Traceback (most recent call last):
  File "/opt/robocomp/python/cogapp/cog

[2017-06-08 09:42] #113 closed

[2017-06-18 17:46] #112 closed

[2017-07-22 08:43] #105 closed

[2017-08-12 20:48] pbustos opened #117 "robocomp cmake copies rcis binary from src directory"
robocomp cmake copies rcis binary from src directory

[2017-10-03 19:32] pbustos opened #127 "Installer fails to copy rcExceptions.py to /opt/robocomp/bin"
Installer fails to copy rcExceptions.py to /opt/robocomp/bin in master branch. Don't know in highlyunstable.

[2017-10-03 19:33] pbustos opened #128 "Component breaks down without useful info"
In C++, when the component is subscribed to some topic and in the "congif" file the Storm line is missing, the component segfaults without further information.

[2017-10-31 16:24] pbustos opened #129 "robocompdsl documentation"
The documentation in the Readme.md looks old-.

The new syntax for paths in import sentences has changed and is not reflected there. Should we update the documentation to match the highlyunstable branch?

[2018-01-28 13:40] Riyuzakii commented on #70
@marcoag I would like to help fix this problem. Some advice would be appreciated.

[2018-03-06 13:20] RJ722 opened #134 "Broken Link in README"
In the following line in README, the link is not being rendered properly:

~The problem is due to filename containing empty spaces. This can be easily solved by changing all the occurrences of whitespace to `%20`~

UPDATE: The filename has been changed to `Compiling-RoboComp-with-collision-detection.md`

[2018-03-07 12:39] #134 closed

[2018-03-07 15:31] Kmayankkr commented on #127
The CMakeLists.txt in robocomp/tools/robocompdsl/CMakeLists.txt had the following line:

INSTALL(FILES "rcExceptions.py" DESTINATION **/opt/robocomp/python** )

The pathname seems to be wrong. I have sent a PR to correct it to **/opt/robocomp/bin**. Please review.

[2018-03-07 16:39] RJ722 opened #138 "robocomp.org - The domain is expired"
The website currently says:

Are we completely switching to https://robocomp.github.io/web/?

[2018-03-19 15:31] RJ722 opened #141 "rcis throws memory error when run without arguements"
When running the following command:
[code]

it outputs:
[code]

Since we are getting "core dumped", I suspect that we are not terminating the program properly as it is trying to read from a pointer which might not exist at that time. Is this intentional? If not, can we handle this more gracefully?

[2018-03-23 18:49] coolprinshu123 opened #143 "Error in git annex get ."
When I am doing
$git annex get .
it is showing me errors.
After fixing those errors it fails without any warning.

[2018-05-05 04:58] marcoag commented on #143
can you please post the actual errors? what fixing did you do?

[2018-05-05 04:59] marcoag commented on #141
You're probably missing the 3D model files referenced inside the xml file. Please check you have them all.

[2018-05-08 07:58] RJ722 commented on #141
Yes, that was intentional. I am just saying that wouldn't it be better if we could handle this situation more gracefully, by perhaps showing an error message rather than crashing the program.

[2018-05-27 20:15] mariabohorquez opened #153 "Travis failing checks"
Currently Travis is failing with this error ([build](https://travis-ci.org/robocomp/robocomp/builds/380002807?utm_source=github_status&utm_medium=notification)):

[code]

The error appears to be with running the build in the Xenial distro, as explained [here](https://github.com/travis-ci/travis-ci/issues/9080). But changing Xenial to the Trusty distro damages the build, as libccd and libccd-dev ar

[2018-06-12 21:47] mariabohorquez commented on #70
[https://robocomp.readthedocs.org/en/latest/](https://robocomp.readthedocs.org/en/latest/) is working now. It was a problem with the settings in ReadTheDocs. It needed to be fixed directly from there.

[2018-06-13 02:21] #70 closed

[2018-10-18 18:38] pbustos opened #165 "Remove obsolete features from code generator related to Ice"
Ice.ACM.Client=10
Ice.ACM.Server=10

[2018-10-24 07:41] #109 closed

[2018-10-24 07:52] rcintas commented on #165
Those options are removed in stable branch

[2018-10-24 07:52] #165 closed

[2018-10-24 07:53] #138 closed

[2018-10-24 07:54] rcintas commented on #138
Domain redirect to https://robocomp.github.io/web/ properly

[2018-11-07 09:16] pbustos opened #166 "document pub/sub with an example inside the code-examples tutorial"

[2018-11-09 13:05] pbustos opened #167 "Limit in Ice buffers default size to transmit large packets"
If you experiment problems with moving large data chunks among components, include the directive bellow with an appropiate size in the etc/config file of  both, the sending and receiving components. If you are using publish/subscribe through STORM, include this line also in /opt/robocomp/etc/rcnode.conf and restart STORM by killiing the rcnode script and restarting it.

Ice.MessageSizeMax=2000000

[2018-11-29 09:22] orensbruli opened #172 "robocompcdsl is not working with the new version 2.3 of pyparsing"
The current version for python 2.7 of the pyparsing module when installed from pip is 2.3 and it makes robocompcdsl to fail when generating the component.
Current workaround is to uninstall the 2.3 version with pip
`sudo pip2 uninstall pyparsing`
and install the 2.2 version from Ubuntu package (18.04) with
`sudo apt-get install pypy-pyparsing`

[2018-12-14 04:14] parasKumarSahu opened #173 "Broken link in README of rcmanager simple"
The link to the images of the graph in the README of rcmanager simple is broken
 https://github.com/robocomp/robocomp/tree/stable/tools/rcmanagerSimple
There are 2 links under All Text, both are not working, you can use the image from the README of rcmanager they are working.

[2018-12-20 12:59] orensbruli commented on #173
Corrected with #174

[2018-12-21 09:13] PrasadKshirsagar commented on #172
Yes, I experienced the same issue. Thanks for suggesting compatible version of pyparsing.

[2019-01-24 12:17] pbustos opened #177 "AprilTags has opencv2 dependency in CMakeListsSpecific.txt"
AprilTags has opencv2 dependency in CMakeListsSpecific.txt.
Change to opencv3 if using repository packages from Ubuntu 18.04

[2019-02-01 18:57] orensbruli commented on #177
Solution added to the robocomp wiki:
https://github.com/robocomp/robocomp/wiki/Things-to-know

[2019-02-01 18:57] #177 closed

[2019-02-01 19:24] orensbruli opened #179 "Translate or delete Spanish comments on rcinnerModelSimulator/src/specificworker.cpp"
There's several inline comments in spanish that should be translated or removed if not needed anymore.

[2019-03-04 03:59] GrayR00t commented on #77
I would like to do it .

[2019-03-04 09:20] pbustos commented on #77
Have you studied RoboComp and robocompdsl?

[2019-03-04 10:05] GrayR00t commented on #77
Yeah ,  I studied whatever on github if other source is there to read more
so that I would more clear to me please forward to me.

Regards
Neeraj Singh

On Mon, Mar 4, 2019, 2:50 PM Pablo Bustos <notifications@github.com> wrote:

--
*Disclaimer: *This email and any files transmitted with it are confidential
and intended solely for the use of the individual or entity to whom they
are addressed. If

[2019-03-04 11:41] pbustos commented on #77
Neeraj, but have in mind that this is not a GSoC topic. Topics are listed
in robocomp.org

On Mon, Mar 4, 2019 at 11:05 AM Neeraj Singh <notifications@github.com>
wrote:

--
Pablo Bustos García de Castro
ROBOLAB  http://robolab.unex.es Computer Vision and Robotics Lab
INDEHESA http://indehesa.unex.es Institute for SIlvopastoralism Research
School of Technology - Universidad de Extremadura, Cáceres

[2019-03-04 12:42] GrayR00t commented on #77
Actually I want to contribute in gsoc idea
Learning acceptable social behaviour using machine learning technique
for this summer , please guide regarding timeline of project and exactly
what I have to do .
Regards
Neeraj Singh

On Mon, Mar 4, 2019, 5:11 PM Pablo Bustos <notifications@github.com> wrote:

--
*Disclaimer: *This email and any files transmitted with it are confidential
and intended sol

[2019-03-04 17:46] pbustos commented on #77
Ok, you need to write to the mentors in charge of that topic.

Pablo

On Mon, Mar 4, 2019 at 1:42 PM Neeraj Singh <notifications@github.com>
wrote:

--
Pablo Bustos García de Castro
ROBOLAB  http://robolab.unex.es Computer Vision and Robotics Lab
INDEHESA http://indehesa.unex.es Institute for SIlvopastoralism Research
School of Technology - Universidad de Extremadura, Cáceres 10003, Spain
Phone: +

[2019-03-25 13:40] Nibraz15 opened #183 "workspace module doesnt detected in rced.py , rcrun.py , rccomp.py , rcbuild.py ."
I updated the code to detect it please check if it is ok.

[2019-03-25 13:41] Nibraz15 opened #184 "workspace module doesnt detected in rced.py , rcrun.py , rccomp.py , rcbuild.py ."
I updated the code to detect it please check if it is ok.

[2019-03-25 13:41] #183 closed

[2019-03-28 08:35] NegaNexus commented on #143
Since this is still an open issue I'll also say that I'm getting the same issue (I assume, anyway)

[code]

[2019-03-28 18:46] orensbruli opened #191 "Comunicator not been destroyed on RcinnerModelSimulator"
There's an error on the terminal about the comunicator not been destroyed when exiting.

[2019-03-29 09:03] harrykarwasra commented on #183
The issue still exists. Its happening because the `argcomplete` library is not installed on the system. The installation guidelines should include one more line for `argcomplete`.

[2019-04-01 00:08] parasKumarSahu opened #194 "Broken link in readme of AGM"
Link to documentation is broken in the README.md file of AGM tool.
https://github.com/robocomp/robocomp/tree/stable/tools/AGM

[2019-04-02 02:49] johri002 commented on #191
The current code is unable to execute the operation ic.destroy() required for the destruction of the communicator thread. I tried to bring the destroy method in the scope of execution ( Even checked that communicator shuts down before the execution stops ). It still returns the same error. Any idea as to what could be the possible glitch?

[2019-04-02 06:07] #179 closed

[2019-04-07 12:43] bartekxk commented on #141
I added the default parameter in rcis, I think this can be a good solution. #196

[2019-04-07 12:56] bartekxk commented on #141
I added the default parameter in rcis, I think this can be a good solution. #196

[2019-04-08 15:58] charanjit-singh opened #197 "Python2 Deprication"
Python 2 deprication countdown https://pythonclock.org/
Implement needs to be shifted on Python3 for future updates.

[2019-04-08 16:17] charanjit-singh commented on #62
The command "cmake -DCMAKE_CXX_COMPILER=$COMPILER -DFCL_SUPPORT=1 . && make" exited with 1.

[2019-04-11 19:47] bartekxk opened #200 "Robolab tool"
Hello,
Would it be a good idea to create a tool for easy component run? I thought about doing it based on the environmental variable, but I do not know if this idea matches the idea of components.
For example, we could run anywhere to start keyboardrobotcontroller component with defualt config file:
`robolab keyboardrobotcontroller`
We could add parameters to the run with installation or set other

[2019-04-12 07:24] orensbruli commented on #200
Hello,
I think this old tool had the porpose that you are suggesting to implement:
https://github.com/robocomp/robocomp/blob/stable/tools/buildTools/rcrun.py
But as you have said with a component based architecture this tools are currently not used by robocomp users. Tthe development is currently focused on rcmanager (as a replacemente of rcmanagersimple) to deploy large numbers of components on l

[2019-04-12 12:47] bartekxk commented on #200
That's right, it's better done. I'm closing this isuee.
Best.

[2019-04-12 12:47] #200 closed

[2019-04-20 10:30] charanjit-singh opened #206 "Missing Code Linter and Build scripts before commit."
This project is missing the code linting scripts, i.e. before pushing the code. and also automatic tests scripts on local system.

[2019-04-20 10:30] charanjit-singh commented on #206
Can I work on this issue?

[2019-04-22 07:54] orensbruli commented on #206
I'm interested to know what you have in mind. How do you want to implement it?

[2019-04-22 08:04] #172 closed

[2019-04-22 08:09] #167 closed

[2019-04-23 07:50] charanjit-singh commented on #206
We can run some scripts before making a commit to format the code.
https://githooks.com/

[2019-04-24 11:46] bartekxk commented on #206
The project compilation is tested by travis. I think it is impossible to enter automatic tests into the entire project, it is too large. Only for specific tools. I do not understand it very much, but if you have an idea and you could describe it better, I will be happy to help you.

[2019-04-24 11:58] orensbruli commented on #206
@bartekxk Travis is not working because they don't support 18.04 and robocomp currently need it.
@charanjit-singh As @bartekxk suggest, the core of Robocomp is pretty is big and maybe it's difficult to currently make it converge to some code styling (but it would be great). Also there's a mix of python and c++ code.
Maybe, if you can show some output of this scripts that you suggests executed over

[2019-04-29 09:34] NegaNexus commented on #77
The equivalent component built in C++ doesn't have the same issue. I noticed that the C++ version of main uses uncheckedCast():
https://github.com/robocomp/robocomp/blob/e9ab83ab0be25d0d435d0d7aca3991dbf8d09c47/tools/robocompdsl/templateCPP/src/main.cpp#L27

while the Python version of main uses checkedCast() in the equivalent part of the Python template:
https://github.com/robocomp/robocomp/blob/

[2019-05-04 13:12] sunn-e opened #207 "Creating a gentle introduction to RoboComp"
Hi, My name is Sunny. I'm a computer science student. I want to create an user guide as described here https://robocomp.github.io/web/gsod/2019/ideas/
@pbustos @pilarbachiller How do I start contributing?

[2019-05-04 13:19] sunn-e commented on #207
Is there something I should read first.

[2019-05-04 19:17] pbustos commented on #207
Hi Sunny,

thanks for your interest. You can take a good look at the project by
cloning RoboComp and going through the tutorials. As you will see, this
project is to make this process easier for beginners. Now it  has a more
technical, "just what is needed to go" organization.

Pablo

On Sat, May 4, 2019 at 3:19 PM Sunny Dhoke <notifications@github.com> wrote:

--
Pablo Bustos García de Castro
ROB

[2019-05-08 10:15] orensbruli opened #208 "Invalid template for mainUi.ui generated by robocompdsl"
When the selected option for Qt interface in cdsl is QMainWindow, the generated .ui can't be used because the QMainWindow needs a central widget by default and it's not added in the mainUi.ui file.

[2019-05-14 11:03] orensbruli opened #209 "robocompdsl looks for the wrong .ice file"
If the name of the first interface defined on the .idsl have not the same name than the .idsl/.ice file, the Generate CMakeList.txt in /src of any generated component fails.
Probably robocompdsl is using the name of the first interface instead of the name of the .idsl file name to add this to the CMakeList.txt.

[2019-05-27 08:13] pbustos commented on #207
Hello Sunny, please take a look at the gitter channel. We are going to post
there a small assignment to check the documentation skills of the
candidates.

robocomp/GSoD

Pablo

On Sat, May 4, 2019 at 9:17 PM Pablo Bustos <pbustos@unex.es> wrote:

--
Pablo Bustos García de Castro
ROBOLAB  http://robolab.unex.es Computer Vision and Robotics Lab
INDEHESA http://indehesa.unex.es Institute for SIlvopas

[2019-05-28 06:46] sunn-e commented on #207
@pbustos Thanks for the reply. I'll go and check it right now.

[2019-05-28 06:48] sunn-e commented on #207
Am I suppose to go to the GSoD channel( https://gitter.im/robocomp/GSoD?source=orgpage) or the refular robocomp channel.

[2019-05-28 07:24] pbustos commented on #207
The GSoD channel.

On Tue, May 28, 2019 at 8:48 AM Sunny Dhoke <notifications@github.com>
wrote:

--
Pablo Bustos García de Castro
ROBOLAB  http://robolab.unex.es Computer Vision and Robotics Lab
INDEHESA http://indehesa.unex.es Institute for SIlvopastoralism Research
School of Technology - Universidad de Extremadura, Cáceres 10003, Spain
Phone: +34 927 257259
ResearchGate https://www.researchgate

[2019-05-28 08:02] sunn-e commented on #207
Okay. Thanks. When will that be posted?

[2019-05-29 19:51] pbustos commented on #207
We are working on it. Very soon.

On Tue, May 28, 2019 at 10:02 AM Sunny Dhoke <notifications@github.com>
wrote:

--
Pablo Bustos García de Castro
ROBOLAB  http://robolab.unex.es Computer Vision and Robotics Lab
INDEHESA http://indehesa.unex.es Institute for SIlvopastoralism Research
School of Technology - Universidad de Extremadura, Cáceres 10003, Spain
Phone: +34 927 257259
ResearchGate https://

[2019-05-30 04:39] sunn-e commented on #207
Okay. Please let me know once you are done with preparations. :)

[2019-06-03 11:55] pbustos commented on #207
They are ready in the gitter channel

On Thu, May 30, 2019 at 6:39 AM Sunny Dhoke <notifications@github.com>
wrote:

--
Pablo Bustos García de Castro
ROBOLAB  http://robolab.unex.es Computer Vision and Robotics Lab
INDEHESA http://indehesa.unex.es Institute for SIlvopastoralism Research
School of Technology - Universidad de Extremadura, Cáceres 10003, Spain
Phone: +34 927 257259
ResearchGate https

[2019-06-03 12:06] sunn-e commented on #207
I know, I was the first one to comment on it. ;) Thanks for the reminder.

[2019-06-08 19:23] pbustos opened #212 "Little information on RCIS reading a xml file with a repeated tag"
RCIS exits with this error "double free or corruption (out)" when reading a file with a repeated tag.
Should be more informative

[2019-06-13 16:07] orensbruli opened #213 "Better output on topicManager exception if it can't be created."
Iif there's any misconfiguration on TopicManager.Proxy on the config file of a component, the creation of the topicManager on the fails and no subscription can be created or subscribed.

A better message can be show on this situation suggesting to check the config file and that rcnode/icestorm are started on the machine and port specified on the config file.

Also we should discuss if the componen

[2019-06-27 09:32] orensbruli opened #217 "robocompdsl have no output if a file with invalid extension is given"
robocompdsl have no output if a file with invalid extension is given.
Some error should be shown

[2019-07-04 10:35] BertoSerrano opened #221 "Add a transition class to the state machine generator"
Generating a statemachine.smdsl file with its transitions could make a more readable code if the transitions are wrapped in a single class

[2019-08-29 09:30] orensbruli opened #225 "Ambiguous definitions on components implementing interfaces with data type with the same name"
robocompdsl is generating code on genericworker.h with

for each Interface.
The solution would be to remove those lines from genericworker.h on robocompdsl template and change the types used on the code to include the namespace prefix each time.

[2019-10-06 11:13] ljmanso opened #226 "Remove support for PyParsing 2.2 [to be implemented in October 2020]"
The structure resulting from parsing CDSL, IDSL and SMDSL files changes from PyParsing 2.2 to PyParsing 2.4. Until the introduction of a couple of exception handlers in the corresponding code, this resulted in errors when generating components if PyParsing 2.4 was installed.

Although it is necessary to have these exception handlers for as long as we have users with PyParsing 2.2, we estimate that

[2019-12-10 08:23] pbustos opened #228 "Error generating the implementation if an interface"
A new component that IMPLEMENTS an interface like GotoPoint.idsl with a "string" type in its parameters is generated with a compilation error:

The parameter is declared as const std::string &par in gotopointI.h and as std::string par in genericworker.h

[2019-12-11 09:23] aracelivegamagro opened #229 "Error in regenerating components"
When generating components with options agmagent in the cdsl file, genericworker.h does not include agm.h

In addition, AGMExecutiveTopic must be added to ROBOCOMP_WRAP_ICE in the CMakeList file. Currently, AGMExecutive appears twice

[2019-12-18 10:09] pbustos opened #230 "Change InnerModel creation line"
In SpecificWorker::params, the line
innerModel = new InnerModel(innermodel_path) should be changed to:

innerModel = std::make_shared<InnerModel>(innermodel_path);

[2020-01-05 02:27] championballer opened #232 "Porting to Python3"
Are there any plans to port robocomp to Python3?

[2020-01-15 09:42] pbustos opened #234 "Python comps break if remote comp is not up"
Change "checkedcast" bu "uncheckedcast" in proxy configuration as in:

apriltagsserver_proxy = AprilTagsServerPrx.(un)checkedCast(basePrx)

[2020-01-15 10:59] ljmanso commented on #229
Fixed

[2020-01-15 10:59] #229 closed

[2020-01-15 11:02] ljmanso commented on #232
As far as I know, it is already supported in the development branch. Please, let us know if you have tried in development and experienced any specific issue.

Cheers,
Luis

[2020-01-15 11:02] #232 closed

[2020-01-16 09:40] niveditarufus commented on #217
@orensbruli  I have added a line which displays an error message when a file with invalid extension is given.

[2020-01-24 10:16] rcintas commented on #234
Fixed

[2020-01-24 10:16] #234 closed

[2020-02-10 10:51] giuliano-97 opened #237 "Error when compiling with Python bindings"
Hello!

I was trying to compile robocomp with python bindings support, so I enabled PYTHON_BINDINGS_SUPPORT in the top level CMake. However, when configuring the build with the following options to enforce the use of python2.7

cmake -DPYTHON_LIBRARIES=/usr/lib/x86_64-linux-gnu/libpython2.7.so -DPYTHON_INCLUDE_DIR=/usr/include/python2.7 -DPYTHON_BINDINGS_SUPPORT=ON ..

and then running make -j4, I

[2020-02-13 13:35] kushagra414 opened #238 ""RoboCompDSL requires Python 2.x, not Python 3.x" Even after Python2 is installed"
**RoboCompDSL requires Python 2.x, not Python 3.x** error persists even after python2 is installed on the system.
This can be because you might have Anaconda installed on your system.
The `robocompdsl` command uses the python path specified by **Anaconda**.
<br>
![error](https://user-images.githubusercontent.com/42572253/74439389-2586bb80-4e92-11ea-9ec0-760c9717e9bf.png)<br>
- Check all the python

[2020-02-13 19:14] deepaklorkhatri007 commented on #237
Please avoid using python2 it's been deprecated and will not be supported by projects like RoboComp. I recommend you to install the software using python3 only and I think that might be the reason they commented it out.

[2020-02-17 07:48] arnabsinha99 commented on #197
@charanjit-singh Could you specify as to which part of the implementations need to be updated? I can work on that.

[2020-02-20 13:14] pbustos opened #240 "Include -fmax-errors=5 in Cpp components"
Include -fmax-errors=5 in the CMakeListsSpecific.txt file of the Cpp components

[2020-02-21 10:13] rcintas commented on #240
Done

[2020-02-21 10:13] #240 closed

[2020-02-21 10:21] rcintas commented on #238
Now, robocompdsl uses python3 alias so this issue must be solved

[2020-02-24 20:12] pbustos opened #242 "Add some info in STUBS about the Interface"
For example, if a component subscribes to JoystickAdapter.idsl, generate:

        #
	#  SUBSCRIPTON to sendData method from JoystickAdapter interface
	#
	def JoystickAdapter_sendData(self, data):
		#
		#subscribesToCODE
		#
		pass

[2020-02-27 18:11] rahulkatiyar19955 commented on #242
@pbustos I worked on this issue and found that a small change in "robocomp/tools/robocompdsl/templatePython/src" directory with the filename specificworker.py at line no. 204 was required.
[https://i.imgur.com/THBqpIy.png?1](https://i.imgur.com/THBqpIy.png?1)
Can you suggest me how to commit to the development branch?

[2020-02-27 18:28] orensbruli commented on #242
@rahulkatiyar19955
Fork the robocomp repository.
Clone it.
Do the changes that you think you have to do. Make the commits and push as usual.
When you have finished, open a Pull Request.

https://help.github.com/en/github/getting-started-with-github/fork-a-repo

[2020-02-28 09:54] #238 closed

[2020-03-03 10:50] Goshikhar23 commented on #143
Make sure you have an active internet connection while using git annex.

[2020-03-03 16:29] orensbruli commented on #143
Removed old deprecated files from git annex.

[2020-03-03 16:29] #143 closed

[2020-03-04 04:11] rahulkatiyar19955 commented on #197
rcmanager in the robocomp tools is currently using python2 and pyqt4.

[2020-03-06 12:36] pbustos opened #247 "Main.cpp segfaults if IceStorm is not in config file."
If this line is not in the config file and the component publishes or subscribes to something, main.cpp segfaults without further information.

// This property is used by the clients to connect to IceStorm.
TopicManager.Proxy=IceStorm/TopicManager:default -p 9999

Also, when regenerating a component and including a subscribe entry in its cdsl, the TopicManager line is not included in the new conf

[2020-03-07 12:27] kushagra414 opened #248 "Problem while installing Robocomp due to Anaconda"
- Check all the python paths installed on the system.
`type -a python`
![all_python_paths](https://user-images.githubusercontent.com/42572253/74439486-536c0000-4e92-11ea-8d0d-6ca7d3772d94.png)
- Verify which python is being used by default by using the command
`which python`<br>
![current_python](https://user-images.githubusercontent.com/42572253/74439566-7ac2cd00-4e92-11ea-9842-05460a904803.png)<

[2020-03-11 14:41] GarvTambi commented on #248
I faced this issue but because of this, I resolve it out...
Thanks @kushagra414

[2020-03-11 19:48] GarvTambi commented on #129
@pbustos I don't think that there is need to change the documentation...The documentations cover all the points and it is easy to understand.
Thanks.

[2020-03-17 16:32] pbustos opened #255 "[BUG] PROJECT(componentname) should appear in component's top level folder"
**Describe the bug**
PROJECT(componentname) should appear in component's top level folder. Now it appears in src/CMakeList.txt

**To Reproduce**
Warning when making the component

[2020-03-18 12:37] orensbruli commented on #255
Fixed with commit https://github.com/robocomp/robocomp/commit/21698dcd758068e458dc136be6326e98613e6c68

[2020-03-18 12:37] #255 closed

[2020-03-18 15:13] orensbruli commented on #248
Thank you for your contribution @kushagra414

[2020-03-18 15:13] #248 closed

[2020-03-18 16:18] orensbruli commented on #247
Hello Pablo,
Next time, it's easier to have different issues open for different problems.

For your last comment:

I can't reproduce it.
I get this changes on the config file:
![image](https://user-images.githubusercontent.com/5784096/76979753-ad9c2d00-6938-11ea-819e-8591708b8261.png)

When I add the subscribesTo to the cdsl:
![image](https://user-images.githubusercontent.com/5784096/76982446-3537

[2020-03-18 21:09] orensbruli commented on #247
About the first issue you describe:

I think it's been fixed with the commit https://github.com/robocomp/robocomp/commit/7c31593501339de1116cfb774344c9fa1c11e226
so I proceed to close this issue. If you can reproduce the second problem, please open a new issue.

It would be great if you can also check it.
Best.

[2020-03-18 21:09] #247 closed

[2020-03-19 07:50] kushagra414 commented on #242
@jpbandera please close this issue if it is resolved.

[2020-03-19 09:32] #242 closed

[2020-03-19 11:07] #230 closed

[2020-03-19 11:40] orensbruli commented on #228
@Pablo can you check it still happens with the last robocompdsl version? I can't reproduce this.
I have used this cdsl:
https://gist.github.com/orensbruli/cc88996b90be294e5b10ce6f3f27c5e0

![image](https://user-images.githubusercontent.com/5784096/77062827-ec83be80-69dc-11ea-9061-b092097698e2.png)

![image](https://user-images.githubusercontent.com/5784096/77062876-ff968e80-69dc-11ea-9a25-94c3bc2d

[2020-03-19 11:40] #228 closed

[2020-03-19 11:59] orensbruli commented on #213
Duplicate of https://github.com/robocomp/robocomp/issues/247 already resolved.

[2020-03-19 12:00] #213 closed

[2020-03-19 12:19] orensbruli commented on #217
Sorry @niveditarufus, where did you add the line? Did you make a Pull Request?

[2020-03-19 13:15] niveditarufus commented on #217
Yeah, I did make a pull request when the issue was still open and the before the codebase was updated.....Now I think it does display an error message upon given wrong or no extension and the pull request was closed, so no worries.

[2020-03-20 15:04] hugoziviani opened #257 "The ling of installation script is broken [BUG]"
The link of quick installation of robocomp is broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to: https://github.com/robocomp/robocomp/blob/development/doc/FAQ.md
2. On "How should I download Robocomp?"
3. Click on the "the installation script"
The link is broken.

**Expected behavior**
The page with the script cloud open

This is the broken link:
https://github.com/robocomp/roboc

[2020-03-20 16:14] orensbruli commented on #257
Fixed with https://github.com/robocomp/robocomp/commit/0d01f0dfd4492a5f0629d3a031064f6d5387ffec
https://github.com/robocomp/robocomp/commit/e54e93fc64665b5702a7ef33546c5015ffeb06cc
and
https://github.com/robocomp/robocomp/commit/daeb184e4bff47f5e4f6ab970e9e6d05966c6d41

[2020-03-20 16:14] #257 closed

[2020-03-20 16:17] hugoziviani commented on #257
Grate! You're fast! cheers.

[2020-03-20 16:28] orensbruli commented on #77
@pbustos do you know if this is still an open issue?

[2020-03-20 16:30] orensbruli commented on #129
Documentation updated in the development branch.

[2020-03-20 16:30] #129 closed

[2020-03-20 16:33] orensbruli commented on #128
Duplicate of https://github.com/robocomp/robocomp/issues/247

[2020-03-20 16:33] #128 closed

[2020-03-20 16:35] orensbruli commented on #153
We stopped using Travis because of the lack of support of newer Ubuntu versions. We are currently working on installing our own CI server.

[2020-03-20 16:35] #153 closed

[2020-04-02 16:31] rahulkatiyar19955 commented on #217
if we try to execute the following cmd with the wrong file, No error message is shown on the terminal.
`robocompdsl new_component.cdsla .`

Note this should say something like

Input File should be either .cdsl or .idsl

[2020-05-11 00:29] pawanw17 opened #263 "Error while trying to use robocomp build tools."
**Describe the bug**
While following the tutorial on Buildtools
I was getting the following error while trying to use rccomp, rced or rcrun

``
Traceback (most recent call last):
  File "/opt/robocomp/bin/rced", line 7, in <module>
    from workspace import workspace as WS
ImportError: cannot import name workspace
``
So I checked the CMakeLists.txt at ~/robocomp/tools/buildtools/ and found
``
INST

[2020-05-11 02:22] pawanw17 commented on #263
I found the solution to this:-
The following line should be added to the bashrc, This wasn't present in the README.md for installation.
``
export PYTHONPATH=/opt/robocomp/python:$PYTHONPATH
``
I am creating a pull request to close this issue...

[2020-05-15 23:33] #263 closed

[2020-08-17 03:56] DarkGeekMS opened #272 "DSR Auxiliary sub-APIs can't be instantiated from G"
DSR Auxiliary sub-APIs (RT & IO) can't be instantiated from G, as mentioned [here](https://github.com/robocomp/robocomp/tree/development/classes/dsr/#Auxiliary-sub-APIs). Only Innermodel sub-API can.

However, I can call their methods directly from Core API (not through the sub-API) , like :
[code]

I think this should be clarified in the documentation or fixed in the API itself.

[2020-08-18 10:27] orensbruli commented on #272
Yes, thank you. As you have discovered, I think this was a good intention more than a current implementation but as you say it would be clarified in the documentation or implemented in the API.
If you have some time we could work on a proposal for those sub-APIs to be implemented and accessed in a way similar to Innermodel one...

[2020-08-18 20:19] DarkGeekMS commented on #272
Sure Thing, I'd be more than happy to work on that.

[2020-08-18 21:05] DarkGeekMS opened #273 "Node name assignment in DSRGraph::insert_node()"
I think [DSRGraph::insert_node() in dsr_api.cpp](https://github.com/robocomp/robocomp/blob/e26a67166c6235afe57ec61252bfffe0dcfa1da3/classes/dsr/api/dsr_api.cpp#L147) has an issue regarding node name assignment.

Node names are always assigned as *type_id*, ignoring the name of the passed node, like so :
[code]

Even though, this was done to keep the names unique, but I think that the API user shou

[2020-08-24 09:15] DarkGeekMS commented on #273
Solved by : @JuanCarlosgg
Commit : https://github.com/robocomp/robocomp/commit/01f83f2602c17ec9bb7beb08ec7770a377fb0faa

[2020-08-24 09:15] #273 closed

[2020-09-02 20:28] DarkGeekMS opened #277 "[BUG] Link error in new DSR components compilation"
**Description**
When creating a new component that includes `options dsr;`, the component compilation fails to link with most DSR classes. This is because not all headers and `cpp` sources are included in `CMakeListsSpecific.txt`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a `.cdsl` file with `options dsr;`.
2. Generate the component code.
3. `cmake . && make`
4. The errors appea

[2020-09-02 22:17] rcintas commented on #277
A couple files were missing,

Please check if issue has been solved

[2020-09-02 22:39] DarkGeekMS commented on #277
Yes, the issue is now resolved.

[2020-09-02 22:39] #277 closed

[2020-09-09 07:31] orensbruli opened #278 "[BUG] tools/robocompdsl problema orden creación de proxies"
**Describe the bug**
ROBOCOMPDSL: El orden de esto está mal: se puede acceder a la tupla por el tipo para evitar esto. p.e.:
coppeliautils_proxy = std::get<RobocompCoppeliaUtils::CoppeliaUtilsPrxPtr>(tprx)
---------------------------------------------------------
using TuplePrx = std::tuple<RoboCompDSRGetID::DSRGetIDPrxPtr,RoboCompCoppeliaUtils::CoppeliaUtilsPrxPtr,RoboCompOmniRobot::OmniRobotPrxP

[2020-10-02 15:01] ritwikchakraborty123 commented on #194
Hai can I contribute for this issue

[2020-12-22 16:51] #278 closed

[2020-12-22 16:52] #272 closed

[2020-12-22 16:52] #237 closed

[2020-12-22 16:53] #217 closed

[2020-12-22 16:54] #207 closed

[2020-12-22 16:55] #197 closed

[2020-12-22 16:55] #173 closed

[2020-12-22 16:55] #184 closed

[2020-12-23 11:10] orensbruli commented on #226
Refactored.

[2020-12-24 22:51] pawanw17 opened #284 "Unable to create build and install space"
**Describe the bug**
Earlier in the stable branch rc_init_ws used to create the build, install and src spaces. rcbuild used to compile components and work on the build space but now build and install spaces aren't in use... are they removed? if yes then the directory structure on
https://github.com/robocomp/robocomp/blob/development/doc/workspaceModel.md needs to be updated.

**Expected behavior**

[2020-12-28 11:04] orensbruli commented on #284
@pbustos what do you think?
My opinion is that the build directory should stay and we could recover the rcbuild command. About the "install" directory I'm not sure. What would be the common usage of it for a component in robocomp?

[2020-12-28 17:34] orensbruli commented on #226
Reverted. Pyparsing 2.2 is the default python3 pyparsing package in Ubuntu 18.04 (https://launchpad.net/ubuntu/bionic/+package/python3-pyparsing). This needs to be kept until 18.04 is no longer supported by Robocomp.

[2020-12-31 14:02] pawanw17 opened #286 "Add workspace.py to python path"
Adding workspace.py to pythonpath will help remove the line
[code]
from build tools

[2021-01-04 16:01] orensbruli commented on #286
Can you suggest a change to the installation scripts or documentation to get it done?
I think it's better to have it in the code that expecting people to manually update their python path.
But maybe we can find an automated way to get this done?

[2021-01-04 16:23] pawanw17 commented on #286
we can add
``
export PYTHONPATH=/opt/robocomp/python:$PYTHONPATH
``
in .bashrc
and in the installation instructions add this line, but I guess the method already implimented is on the safer side.

[2021-01-04 16:29] pawanw17 opened #287 "[FEATURE] Add autocomplete to rccd."
**Is your feature request related to a problem? Please describe.**
rccd is a very useful tool to redirect to various components quickly, but there is no autocomplete feature.

**Describe the solution you'd like**
Ability to autocomplete the component names in order to quickly switch between components.

[2021-01-04 17:01] orensbruli commented on #287
It would be great if you can look into this!
But I guess there's a big problem with this and it's that you can't change the directory of the current session within a python script. To get this working we use a mix of sh and python and I'm not sure if it would be easy to get autocompletion for the sh code.

https://github.com/robocomp/robocomp/blob/development/tools/buildTools/rccd_utils.py
https:/

[2021-01-04 17:12] pawanw17 commented on #287
Yes I saw these files before, made this issue so If anyone interested in robocomp can get started, I'll see if I can do something about it.

[2021-01-05 12:11] orensbruli commented on #286
Maybe this could be a solution to be evaluated?
https://medium.com/@arnaud.bertrand/modifying-python-s-search-path-with-pth-files-2a41a4143574
Creating a .pth file pointing to /opt/robocomp/python and install the .pth file on robocomp installation?

[2021-01-06 08:38] pawanw17 commented on #286
I tested this and can confirm that this solution works well without adding an extra installation instruction.

[2021-01-08 10:27] pawanw17 opened #289 "Broken link in readme.md"
### Describe the bug
The link to google groups in the README.md is broken.

### Instructions
This is a ``first-timer-ony`` issue. **So the people who have not contributed to robocomp's codebase before, or people who have not contributed to open source before can take this up.**

#### Prerequisites
You do not need to know anything prior to taking up this issue! Welcome to opensource!

#### Steps
-

[2021-01-09 16:46] #286 closed

[2021-01-12 10:07] Samiatrix commented on #289
I would like to claim this issue.

[2021-01-12 10:27] orensbruli commented on #289
Perfect. Go for it. Welcome!

[2021-01-12 16:56] #289 closed

[2021-01-25 16:38] orensbruli opened #297 "[newcomers] Complete DSR start tutorial with screenshots or videos."
### Describe the bug

Add screenshots or video for the steps of this tutorial:
https://github.com/robocomp/robocomp/blob/development/doc/DSR-start.md

### Instructions
This is a ``first-timer-only`` issue. **So the people who have not contributed to robocomp's codebase before, or people who have not contributed to open source before can take this up.**

If you have contributed before, **consider l

[2021-01-27 19:41] pawanw17 opened #299 "[BUG] DSR docker image for bionic needs to be updated"

[2021-01-28 06:34] Arnab11917676 commented on #287
Hello sir, I want to work on this issue. It would be great if you will allow me to do so.
Thank you.

[2021-01-28 06:58] orensbruli commented on #287
Hello @Arnab11917676
Take a look at the related PR to this issue and we can discuss there if you can contribute in any way.
https://github.com/robocomp/robocomp/pull/294
Thank you!

[2021-01-29 09:12] pawanw17 opened #301 "[BUG] Add python3-dev as a dependency in dsr installation README.md"

[2021-01-30 09:28] Sirish07 commented on #297
@orensbruli Thanks. I am new to the community and this looks like a good starting point. Will send PR at the earliest.

[2021-01-30 11:15] pawanw17 opened #304 "[BUG] Installation of pybind11 from ppa (bionic) leads to compilation issues"
### Describe the bug
Installation of pybind11 form ppa as described here https://github.com/robocomp/robocomp/tree/development/classes/dsr
leads to compilation issues as no pybind11/iostream.h is generated.
[code]

However installation from source works fine
### Your environment
 - Ubuntu/Linux version: [e.g. Ubuntu 18.04]
 - Python / GCC Version: [e.g. Python 3.6.9]

 - [x] DSR dependencies have

[2021-02-02 23:18] pawanw17 opened #305 "[Newcomers issue] The distro name in bionic_fcl/Dockerfile is wrong."
### Describe the bug

A clear and concise description of what the bug is.

### Instructions
This is a ``first-timer-only`` issue. **So the people who have not contributed to robocomp's codebase before, or people who have not contributed to open source before can take this up.**

If you have contributed before, **consider leaving this PR for someone new** :)

#### Prerequisites
You do not need to k

[2021-02-04 04:04] #301 closed

[2021-02-06 20:09] prateekkaistha commented on #305
Looks like its a good point to start with, Thanks @pawanw17

[2021-02-07 22:15] #305 closed

[2021-02-11 17:59] #299 closed

[2021-02-13 21:40] Mudassaralimosu opened #309 "[BUG] IN README.md it is written "sudo pip3 intsall pyside2" the spelling of install is wrong"
### Describe the bug
A clear and concise description of what the bug is.

### Your environment
 - Ubuntu/Linux version: [e.g. Ubuntu 20.04]
 - Python / GCC Version: [e.g. Python 3.8]

These are not mandatory steps but would help us to understand your installation:

 - [ ] Robocomp is compiled with FCL support.
 - [ ] DSR dependencies have been installed.

### To Reproduce
Steps to reproduce the be

[2021-02-16 10:36] #287 closed

[2021-02-18 18:13] Ddevendra commented on #297
Hey, I am new to the community and was looking at this [newcomers] issue
- I have successfully installed Robocomp from source
- I was following this tutorial (https://github.com/robocomp/robocomp/blob/development/doc/DSR-start.md)
and got stuck at running "bash run.sh" in directory "components/dsr-graph/robots_pyrep/viriatoPyrep"
![Screenshot from 2021-02-18 23-42-30](https://user-images.githubuse

[2021-02-19 04:48] pawanw17 commented on #297
Hello @Ddevendra before running the component you first have to build it, which can be done by going to the component directory and running:
[code]

[2021-02-19 05:41] Saanidhyavats commented on #194
I want to contribute on this issue but I am unable to find the link to the AGM tool (the broken one) in the README file.

[2021-02-19 05:54] orensbruli commented on #194
Sorry. I think this should not be an open issue. As you have found the related documentation is not available anymore.

[2021-02-19 05:54] #194 closed

[2021-02-19 05:55] orensbruli commented on #141
Fixed by @bartekxk https://github.com/robocomp/robocomp/pull/196

[2021-02-19 05:55] #141 closed

[2021-02-19 05:57] #206 closed

[2021-02-19 05:57] #208 closed

[2021-02-19 05:58] #209 closed

[2021-02-19 06:02] orensbruli commented on #309
Fixed. Thank you @Mudassaralimosu
https://github.com/robocomp/robocomp/commit/54d89919e5ddb450ac57288f880b9d1192f6915c

[2021-02-19 06:02] #309 closed

[2021-02-21 13:49] Ddevendra commented on #297
#Yes!! It Worked

Now I have successfully run the "DSR-start.md" tutorial.

I have following suggestions that can be done to this tutorial guide:

- coppeliaSim, pyrep installation missing (adding instructions, links for that)
- missing commands for setting environment variables (like ROBOCOMP and COPPELIASIM_ROOT)
- add images/button-icons/snap for copelliaSim and graph screens
- rearrange comman

[2021-02-21 17:38] pbustos commented on #297
Hello Devendra. Thanks for the suggestions. Please go ahead with the PR.

Pablo

El dom., 21 feb. 2021 14:50, Devendra Kharolia <notifications@github.com>
escribió:

[2021-02-22 12:12] pawanw17 opened #311 "[Newcomers issue] Broken link"
### Describe the bug

A link in [first_issue.md](https://github.com/robocomp/robocomp/blob/development/.github/ISSUE_TEMPLATE/first_issue.md) is broken.

### Instructions
This is a ``first-timer-only`` issue. **So the people who have not contributed to robocomp's codebase before, or people who have not contributed to open source before can take this up.**

If you have contributed before, **conside

[2021-02-25 09:21] orensbruli opened #312 "[Newcomers issue] Review docker documentation"
### Describe the bug

Clean typos in the docker documentation and check english translation:
https://github.com/robocomp/robocomp/blob/development/docker/Readme.md

### Instructions
This is a ``first-timer-only`` issue. **So the people who have not contributed to robocomp's codebase before, or people who have not contributed to open source before can take this up.**

If you have contributed before

[2021-02-25 13:39] Ddevendra commented on #297
There is already a PR pending ["minor fixes in DSR_start.md" ](https://github.com/robocomp/robocomp/pull/308/commits/c5ff253b1959d41789f8671c2dcc8b81e1ac777d)

should I make changes to the current DSR_start.md file and submit a PR ?

[2021-02-25 20:01] pbustos commented on #297
Yes, please!

On Thu, Feb 25, 2021 at 2:39 PM Devendra Kharolia <notifications@github.com>
wrote:

--
Pablo Bustos García de Castro
ROBOLAB  http://robolab.unex.es Computer Vision and Robotics Lab
INDEHESA http://indehesa.unex.es Institute for SIlvopastoralism Research
School of Technology - Universidad de Extremadura, Cáceres 10003, Spain
Phone: +34 927 257259
ResearchGate https://www.researchgat

[2021-02-25 21:39] Ddevendra commented on #297
You can compare the updated document "DSR_start.md" from [here](https://github.com/Ddevendra/robocomp/blob/development/doc/DSR-start.md)

[2021-02-26 07:59] pbustos commented on #297
It is just great. I accepted the PR. Do you need anything else?

We are thinking of creating a second version of this tutorial, slightly
more advanced. Changes in G automatically produce Qt signals and the code
generator creates empty slots for them. So the next version would fill one
of these slots for the laser data, and when data arrives it will store it
in a DoubleBuffer thread-safe store and

[2021-02-27 11:29] harshit-x opened #314 "while running rcnode received the error : /opt/robocomp/bin/rcnode: line 2: icebox: command not found and while running run.sh received the error : Cannot connect to rcnode! This must be running to use pub/sub."
### Describe the bug
A clear and concise description of what the bug is.

### Your environment
 - Ubuntu/Linux version: Ubuntu 18.04]
 - Python / GCC Version: Python 3.6]

These are not mandatory steps but would help us to understand your installation:

 - [ ] Robocomp is compiled with FCL support.
 - [ ] DSR dependencies have been installed.

### To Reproduce
Steps to reproduce the behavior:
1. G

[2021-02-27 12:45] Ddevendra commented on #297
Hello Pablo, Thanks!
I am very much looking forward to contribute to robocomp as I am considering to participate in GSoC 2021.
I would love to work on other issues but as I am a newbie, I don't have much understanding about robocomp. (I didn't understand the above described idea)

I guess I will complete the tutorials (as mentioned on GSoC-2021 FAQs) and get back to you

[2021-02-27 17:12] pbustos commented on #297
Sure, don't worry. You'll get to it.
Ask any questions you need.

Pablo

El sáb., 27 feb. 2021 13:46, Devendra Kharolia <notifications@github.com>
escribió:

[2021-02-27 17:58] orensbruli commented on #314
Please, try to correctly fill in the commit information.
Probably some of the Robocomop dependency installation steps have failed and you have not noticed it.
https://www.google.com/search?sxsrf=ALeKk03cqe5wqSFByd3h3zzd6p5CyGDlcw%3A1614448606546&ei=3oc6YL3xIIK61fAP-_CoyAY&q=icebox+ubuntu+20.04&oq=icebox+ubuntu+20.04&gs_lcp=Cgdnd3Mtd2l6EAM6BwgjELADECc6BAgjECc6BQghEKABOgQIIRAVOgcIIRAKEKABUOIbWPpJYOJ

[2021-02-28 16:15] Suhas-G commented on #312
Hi. I'm Suhas. I'm new to Robocomp. I went through the Issues list, and was wondering if I can take this up?

Also, one of the step says to 'Update the file README.md by removing the broken link', but all the links in [README.md](https://github.com/robocomp/robocomp/blob/development/docker/Readme.md) seem to be proper.

[2021-02-28 17:14] #314 closed

[2021-02-28 17:20] orensbruli commented on #312
Hello @Suhas-G , welcome to @robocomp
If it's your first time creating a fork and submitting a Pull Request, it's yours. If you already have some experience with it, let this issue for more inexperienced people. Thank you.

[2021-02-28 18:14] Suhas-G commented on #312
Hello @orensbruli. I'm not particularly new to Github, even though I haven't contributed to a big open source project before. But maybe I should try a bit more complicated issue :smile:

[2021-03-11 11:20] vkrm1612 commented on #311
I am willing to work on it

[2021-03-11 11:53] vkrm1612 commented on #311
Hi i forked the issue can i know how to open .github file in my local machine
and what i should replace.....! broken link i couldnt understand....!please help me

[2021-03-11 14:02] arshPratap commented on #312
Hello Robocomp community , I was looking forward to contributing to the organization. Can I work on this issue? Thanks in advance!!

[2021-03-11 14:03] arshPratap commented on #311
Hello Robocomp community, Can I work on this issue?Thanks

[2021-03-12 07:51] vangorade commented on #311
take

[2021-03-12 07:55] vangorade commented on #311
anyone working on it? or should I take it. it would be a great first issue for me in this repo

[2021-03-12 08:41] orensbruli commented on #312
Thank you for the PR. You have some suggestions.

[2021-03-13 13:33] Varun270 commented on #312
@orensbruli  I wanted to know whether this issue is fixed or not , since I am also a newbie in open source . If its open I request you to assign me this issue .

[2021-03-13 15:11] Varun270 commented on #312
@orensbruli  I checked the docker document file and there are still many typos present at the moment , I am willing to solve this issue with your permission.

[2021-03-14 06:32] manju838 commented on #311
I am willing to work on this issue.Any help or advice would be appreciated

[2021-03-14 09:33] pawanw17 commented on #311
Hello @vkrm1612 @arshPratap @vangorade and @manju838, this issue has been taken care of, you guys can look into other good-first-issues to get started.

[2021-03-14 09:33] #311 closed

[2021-03-14 11:05] HassanRahim26 commented on #311
Hello, @pawanw17, What about my Pull Request? (https://github.com/robocomp/robocomp/pull/320)

[2021-03-14 15:27] Fred-JD commented on #312
Hello, I am new to opensource can I have this new comers issue a try. Thanks

[2021-03-14 15:29] orensbruli commented on #304
Thank you!
Can I guess for the change on the title that you have tested this in bionic and focal?

[2021-03-14 15:39] orensbruli commented on #304
I can't reproduce this error in the Docker focal image of robocomp. Could you check too?

[2021-03-14 16:09] orensbruli commented on #312
Hello @Fred-JD, thank you for your interest.
There's currently two conflicting Pull Request on this issue. I think It's better to look for other issues. Best!

[2021-03-14 16:09] orensbruli commented on #312
Tempary clossing issue until pending PR is reviewed.

[2021-03-14 16:09] #312 closed

[2021-03-14 16:10] #297 closed

[2021-03-14 17:57] pawanw17 commented on #304
Hey @orensbruli PPA for pybind11 works in focal, this error is specific to bionic but as DSR doesn't support bionic yet so should I close this issue?

[2021-03-14 17:59] orensbruli commented on #304
I think we can.
If we find what's is the difference we could try to suggest a fix in https://github.com/pybind/pybind11 ?

[2021-03-14 18:02] pawanw17 opened #324 "missing dependency in README.md"
### Describe the bug
README.md has a missing dependency called argcomplete
this can be overcomed by adding python3-argcomplete in the installation steps

### Your environment
 - Ubuntu/Linux version: [e.g. Ubuntu 18.04]
 - Python / GCC Version: [e.g. Python 3.6]

### To Reproduce
Steps to reproduce the behavior:
1. rccomp list

[2021-03-14 18:08] pawanw17 commented on #304
The only difference is of the file pybind/iostream.h which is installed in focal but not in bionic.

[2021-03-14 18:18] orensbruli commented on #304
Getting some more information:
robolab@aa902e13c721:~/robocomp$ dpkg -S /usr/include/pybind11
pybind11-dev: /usr/include/pybind11

[2021-03-14 18:22] orensbruli commented on #304
So, my doubt now is... iostream wasn't in the bionic package because it didn't exist or because of a "bug"?

[2021-03-14 18:38] orensbruli commented on #304
I need confirmation, but I think we could remove those imports from our code.
@JuanCarlosgg can you confirm if pybind/iostream.h is really used or not?
[code]

[2021-03-15 07:51] Varun270 commented on #324
@pawanw17  Helllo, Pawan I am a beginner in open source and would love to solve this bug, can you give a detailed explanation about this bug. That would be a great help from your side.

[2021-03-15 17:20] pawanw17 commented on #324
@Varun270 Recently the README.md file was revamped to remove unused packages and simplify the installation steps, accidently this package argcomplete was also removed, you can make a PR by adding the above mentioned package back in the README.md

[2021-03-16 11:17] Varun270 commented on #324
@pawanw17  So all I have to do is simply include python3-argcomplete in installation steps in the readme file?

[2021-03-16 11:37] pawanw17 commented on #324
@Varun270 Yep.

[2021-03-26 14:02] Varun270 commented on #324
@pawanw17  Is this issue still open mate?

[2021-03-28 06:35] pawanw17 commented on #324
Hello @Varun270 A PR was submitted for this issue, you can look onto other recent open issues or maybe review the PR's submitted and suggest changes.

[2021-03-28 10:47] GarvTambi opened #331 "Issues with Python 3.6 ppa on Ubuntu 18.04 LTS"
http://ppa.launchpad.net/jonathonf/python-3.6/ubuntu bionic InRelease
403 Forbidden [IP: 91.189.95.85 80]

![Error_jonathon](https://user-images.githubusercontent.com/42083679/112749593-ec9b9e80-8fe0-11eb-854e-277920dc1e85.png)

![Error1_jonathon](https://user-images.githubusercontent.com/42083679/112749596-eefdf880-8fe0-11eb-8d45-0722b2cae312.png)

`sudo rm /etc/apt/sources.list.d/*jonathon*`
res

[2021-03-28 10:48] GarvTambi commented on #331
Issue Resolved

[2021-03-28 11:01] #324 closed

[2021-03-28 11:08] GarvTambi opened #332 "http://ppa.launchpad.net/armagetronad-dev/ppa/ubuntu bionic Realese' does not have a Release file [duplicate]"
Any time I try to install anything or run apt update, I get this error:

`E: The repository 'http://ppa.launchpad.net/armagetronad-dev/ppa/ubuntu bionic Release' does not have a Release file.'
'N: Updating from such a repository can't be done securely and is therefore disabled by default. '
'N: See apt-secure(8) manpage for repository creation and user configuration details.`

[2021-03-28 11:15] GarvTambi commented on #332
You can execute in your command line:

sudo apt update -q

[2021-03-28 11:17] GarvTambi commented on #332
sudo apt-add-repository -r ppa:armagetronad-dev/ppa
sudo apt update -q``

[2021-04-09 11:13] orensbruli opened #338 "[Newcomers issue] Update libs/dsr/README.md"
### Describe the bug

There are new methods, for example, size() method in dsr_api for DSR::Graph.
The documentation needs to be reviewed and fixed ([README.md](https://github.com/robocomp/robocomp/blob/development/libs/dsr/README.md))

### Instructions
This is a ``first-timer-only`` issue. **So the people who have not contributed to robocomp's codebase before, or people who have not contributed t

[2021-04-09 14:04] Varun270 commented on #338
@orensbruli  I would love to solve this issue.

[2021-04-09 14:19] Varun270 commented on #338
@orensbruli  I didn't get it what are the changes do you want me to do like should I have to do a grammar check for README or add some new methods. Please explain I am kind of lost.

[2021-04-09 15:12] orensbruli commented on #338
Hello @Varun270  and wlecome!
Look https://github.com/robocomp/robocomp/blob/development/libs/dsr/api/dsr_api.cpp#L802
Can you see that there's an undocumented DSRGraph::size() method? I needed it today and looked for it in the README.md of libs/dsr/ and it's not there.
What I suggest is that someone could look into the code and check what other methods are missing in the README.md and write a lin

[2021-04-23 07:23] nocoinman opened #341 "[BUG] Components not able to implicitly locate RoboComp specific shared libraries"
### Describe the bug
Building certain components from source resulting in failure because of linking errors. Specifically cmake isn't able to locate some robocomp specific internal libraries and explicit declaration of these libraries in cmake seems to be required.

### Your environment
 - Ubuntu/Linux version: Ubuntu 20.04
 - Python Version: Python 3.8.5
 - GCC Version: gcc version 9.3.0
 - RoboC

[2021-04-26 14:14] nocoinman commented on #341
I just want to point out that this is starting to be a concern for building components that are mentioned in the tutorials. It is really hard to follow them now as the mentioned components aren't able to find many of robocomps internal libraries.

[2021-04-26 15:51] orensbruli commented on #341
I have asked other members of Robocomp their opinion about if all the libraries should be included in the compilation of a component by default and generated in the CMakeList files with robocomodsl.
While it's decided, can you point to all the components that you have found failing?

[2021-04-26 16:35] nocoinman commented on #341
It's not that all libraries should be compiled. When robocomp is built these libraries are built by default. An example would be `libqmat.so` and `libinnermodel.so`. Similarly I found issues with `libdsr_gui.so` and other libraries in DSR. The problem is these library destinations are not included by default during compilation of components and we need to explicitly state in cmakelists to link the

[2021-04-27 07:41] #304 closed

[2021-07-11 16:00] joshboye commented on #338
Hey @Varun270, just wanted to if you are still working on this issue or else would love to work on this.

[2021-07-14 13:28] Varun270 commented on #338
Hey @joshboye as of now I am not working on this issue it's all yours!!!

[2021-08-09 15:39] vaibhawkhemka opened #344 "Ice initialization error"
### Describe the bug
A clear and concise description of what the bug is.
![ice](https://user-images.githubusercontent.com/46538042/128732144-f03d9adf-2a7d-4b03-ba3f-42f52197e078.png)
I have been building a component which was working fine before I reinstalled the robocomp recently and throwing this error.
Any suggestions which could be the reason for error?? @orensbruli @pbustos @JuanCarlosgg @pil

[2021-09-26 12:26] pbustos opened #361 "[FEATURE]"
### Is your feature request related to a problem? Please describe

The error displayed  when a component is run prior to executing cmake . and make is not informative enough.

icecpp: error: cannot open `/home/pbustos/robocomp/components/robocomp-giraff/pyrep/giraff/src/CommonBehavior.ice' for reading
Traceback (most recent call last):
  File "src/giraff.py", line 66, in <module>
    from specific

[2021-09-29 10:58] omixann opened #362 "[FEATURE] Add option to specify libraries in CDSL"
Recently I had to add a library to the linking stage while making a component. AFAIK, the only way to do that right now is to tweak `SET ( LIBS ${LIBS} )` in `src/CMakeListsSpecific.txt`, which is kinda awkward because it requires knowledge about the inner working of the build system. I suggest extending CDSL so that you can include libraries from there. It would set them for you in `CMakeListsSpe

[2021-11-19 19:23] Azhrdev commented on #338
If anyone is not working on this issue, I would like to work on it

[2022-01-06 14:40] Satvik-Verma commented on #338
Hey @joshboye, are you still working on this issue?
If not I'd like to work on this.

[2022-01-06 15:38] joshboye commented on #338
Hey I am not... Please feel free to work on it.

[2022-01-06 20:15] Satvik-Verma commented on #338
Okay Thank you, I'll work on it!

[2022-02-05 17:26] rinkydevi commented on #338
@Satvik-Verma hey! are u working on this issue? If not i's like to work on this.

[2022-02-06 07:44] Satvik-Verma commented on #338
Hi @rinkydevi I'm currently caught up with some other work so please feel free to work on this.

[2022-02-06 12:45] rinkydevi commented on #338
hey @Satvik-Verma ! Thanks for your response,
I will continue for this issue.

[2022-02-06 23:06] rinkydevi commented on #338
hey @orensbruli !
I am a bit new to github and this is my first issue , first of all thank u so much for providing so much help to the newcomers!
and  i did read the issue and tried to understand a bit of it.
what i understood so far is that i might need to go through the code and update the readme about what all new functions has been added to the code, please tell me if i m going right or i need

[2022-02-10 19:44] Neel-Shah-29 commented on #338
I would like to fix up this issue , if no ongoing work is going on

[2022-02-25 15:42] mohsinm-dev commented on #338
I would like to fix up this issue.

[2022-03-10 19:50] Shobuj-Paul commented on #338
@mohsinmahmood12 Are you still working on this issue? If not, I would like to take this up.

[2022-06-10 07:58] ajtudela opened #376 "[BUG] Component generation with AGM"
### Describe the bug
I'm trying to generate a component using the "agmagent" option and robocompdsl but it throws me a warning in parsing_utils while reading AGMWorldModel.idsl and also throws a rcException.

### Your environment
 - Ubuntu/Linux version: [e.g. Ubuntu 20.04]
 - Python / GCC Version: [e.g. Python 3.8]

### To Reproduce
Steps to reproduce the behavior:
1. Create a cdsl file with "agm

[2022-09-04 10:27] rakesh-banni commented on #338
i would like to work on this issue.

[2022-11-15 16:44] orensbruli opened #382 "Fixing installation with the new repo structure"
Testing to install in ubuntu `docker run -it ubuntu:22.04 bash`

[code]
- The installation scripts should work when this PR is accepted https://github.com/robocomp/robocomp/pull/381
- It works. It builds and installs the libraries.
- Workflows would need to be also fixed after the PR is accepted: https://github.com/robocomp/robocomp/actions
- README needs to be updated https://github.com/robocomp/

[2022-11-15 16:48] orensbruli commented on #382
Fix Links: https://github.com/robocomp/robocomp/actions/runs/3456261186/jobs/5768871434

[2022-11-29 18:12] Kartik9250 opened #383 "Invalid URL in Readme"
### Describe the bug
In the **readme** under `#testing-the-installation-using-the-coppelia-simulator` section the `here` hyperlink for the detailed instruction of Coppelia sim and Pyrep redirects to "page not found".

### Your environment
 - Ubuntu/Linux version: [e.g. Ubuntu 20.04]
 - Python / GCC Version: [e.g. Python 3.8]

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://gith